body {
    background: url('../img/login-fondo.jpg') repeat;
    font-family: 'Kalam', cursive;
    font-size: 18px;
    background-color: #02010a;
    width: 100%;
    margin: 0 auto;
}

.contenedor {
    width: 90vw;
    height: 100vh;
}
